.attribution {
  font-size: 11px;
  text-align: center;
  color: hsl(228, 45%, 54%);
}
.attribution a {
  color: hsl(228, 45%, 74%);
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color-200: hsl(215, 51%, 70%);
  --primary-color-400: hsl(178, 100%, 50%);
  --neutral-color-main-bg-900: hsl(217, 54%, 11%);
  --neutral-color-card-bg-900: hsl(216, 50%, 16%);
  --neutral-color-line-900: hsl(215, 32%, 27%);
  --neutral-color-100: hsl(0, 0%, 100%);
}

html {
  font-family: "Outfit", sans-serif;
}

body {
  background-color: var(--neutral-color-main-bg-900);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  display: block;
  width: 100%;
  border-radius: 10px;
}

.container {
  margin-bottom: 2rem;
  background-color: var(--neutral-color-card-bg-900);
  max-width: 375px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 25px;
}

h1 {
  color: var(--neutral-color-100);
  font-weight: 400;
  font-size: 1.75rem;
  margin-top: 0.75rem;
}

p {
  font-size: 1.125rem;
  color: var(--primary-color-200);
  font-weight: 300;
  line-height: 1.5;
}

.card__stats p {
  display: flex;
  justify-content: space-between;
}

.cost {
  color: var(--primary-color-400);
  font-weight: 400;
  position: relative;
  left: 15px;
}

.cost::before {
  content: url(images/icon-ethereum.svg);
  position: absolute;
  left: -18px;
  top: 2px;
}

.time {
  position: relative;
}

.time::before {
  content: url(images/icon-clock.svg);
  position: absolute;
  left: -20px;
  top: 2px;
}

hr {
  border: 0.5px solid var(--primary-color-200);
}

.card__author {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card__author img {
  width: 15%;
  border: 1px solid var(--neutral-color-100);
  border-radius: 50%;
}

.author-name {
  color: var(--neutral-color-100);
}

.active-state:hover,
.active-state:active {
  cursor: pointer;
  color: var(--primary-color-400);
}
